.title {
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.25;
  color: var(--primary-color);

  @media (any-hover: hover) {
    a,
    ._title-parent & {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: color 0.3s ease 0s, text-decoration-color 0.3s ease 0s;
    }

    a:hover,
    ._title-parent:hover & {
      color: var(--primary-color-dark);
      text-decoration-color: var(--primary-color-dark);
    }
  }

  &--main-color {
    color: var(--main-color);
  }

  &--fz-48 {
    font-size: 48px;
    font-weight: 700;

    @include media-max($pc) {
      font-size: 42px;
    }
    @include media-max($tablet) {
      font-size: 36px;
    }
    @include media-max($mobile) {
      font-size: 28px;
    }
    @include media-max($mobileSmall) {
      font-size: 24px;
    }
  }

  &--fz-36 {
    font-size: 36px;
    font-weight: 700;

    @include media-max($tablet) {
      font-size: 32px;
    }
    @include media-max($mobile) {
      font-size: 26px;
    }
    @include media-max($mobileSmall) {
      font-size: 20px;
    }
  }

  &--fz-24 {
    font-size: 24px;
    font-weight: 600;

    @include media-max($tablet) {
      font-size: 20px;
    }
    @include media-max($mobile) {
      font-size: 18px;
    }
    @include media-max($mobileSmall) {
      font-size: 16px;
    }
  }

  &--fz-14 {
    font-size: 14px;
    font-weight: 600;

    @include media-max($mobile) {
      font-size: 13px;
    }
  }

  &--fz-auto {
  }
}

.link {
  position: relative;
  padding: 0 1px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: 100%;
    pointer-events: none;

    border: 1px dashed transparent;
    border-bottom-color: #fff;
    transition: border-color 0.15s ease 0s;
  }
  @media (any-hover: hover) {
    &:hover::before {
      border-color: #fff;
    }
  }

  &--primary {
    color: var(--primary-color);
    font-weight: 500;
    &::before {
      border-bottom-color: var(--primary-color);
    }
    @media (any-hover: hover) {
      &:hover::before {
        border-color: var(--primary-color);
      }
    }
  }
}

.visible-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &--2 {
    -webkit-line-clamp: 2;
  }
  &--3 {
    -webkit-line-clamp: 3;
  }
  &--4 {
    -webkit-line-clamp: 4;
  }
  &--5 {
    -webkit-line-clamp: 5;
  }
}

//========================================================================================================================================================
.bg {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color-light);

  &--dark {
    background-color: var(--bg-color-dark);
  }

  img,
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &._not-found {
      object-position: top;
    }
  }

  img {
    object-fit: cover;
  }
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1px solid var(--main-color);
  border-radius: 10px;

  @include media-max($mobile) {
    border-radius: 8px;
  }

  @at-root a#{&} {
    @media (any-hover: hover) {
      transition: border-color 0.3s ease 0s;
      &:hover {
        border-color: var(--primary-color-dark);
      }
    }
  }
}

.border-opacity {
  border: 1px solid rgba(var(--main-color-rgb), 0.3);
  border-radius: 10px;

  @include media-max($mobile) {
    border-radius: 8px;
  }

  @at-root a#{&} {
    @media (any-hover: hover) {
      transition: border-color 0.3s ease 0s;
      &:hover {
        border-color: rgba(var(--main-color-rgb), 0.7);
      }
    }
  }
}

.border-radius {
  border-radius: 10px;

  @include media-max($mobile) {
    border-radius: 8px;
  }
}

.bnts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  $btn: &;
  font-weight: 500;
  text-align: center;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;

  @include media-max($mobile) {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 8px;
  }

  &--upper {
    font-weight: 600;
    text-transform: uppercase;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary-color-dark);
      // color: var(--bg-color);
      // background-color: var(--main-color);
    }
  }

  &--transparent,
  &--outline {
    background-color: transparent;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--main-color);
        color: var(--bg-color);
      }
    }
  }

  &--outline {
    border: 1px solid var(--main-color);
  }

  &--white {
    background-color: var(--main-color);
    color: var(--bg-color);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary-color);
        color: var(--main-color);
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    svg,
    img {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    svg path {
      transition: fill 0.3s ease, stroke 0.3s ease;
    }
  }

  &--fill {
    svg path {
      fill: var(--main-color);
    }

    &#{$btn}--white {
      svg path {
        fill: var(--bg-color);
      }

      @media (any-hover: hover) {
        &:hover {
          svg path {
            fill: var(--main-color);
          }
        }
      }
    }

    &#{$btn}--transparent {
      @media (any-hover: hover) {
        &:hover {
          svg path {
            fill: var(--bg-color);
          }
        }
      }
    }
  }

  &--stroke {
    svg path {
      stroke: var(--main-color);
    }

    &#{$btn}--white {
      svg path {
        stroke: var(--bg-color);
      }

      @media (any-hover: hover) {
        &:hover {
          svg path {
            stroke: var(--main-color);
          }
        }
      }
    }

    &#{$btn}--transparent {
      @media (any-hover: hover) {
        &:hover {
          svg path {
            stroke: var(--bg-color);
          }
        }
      }
    }
  }
}

.show-more-btn {
  width: 100%;
  @include media-min($mobileSmall) {
    max-width: 320px;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.big-score {
  text-align: center;
  color: var(--primary-color-dark);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  padding: 3px 5px;
  border: 1px solid var(--primary-color-dark);
  border-radius: 5px;

  svg {
    width: 21px;
    height: 21px;
    margin-bottom: 3px;
    path {
      fill: var(--primary-color-dark);
    }
    @include media-max($mobile) {
      width: 16px;
      height: 16px;
    }
  }

  &__value {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
    @include media-max($mobile) {
      font-size: 16px;
    }
  }
  &__votes {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(var(--primary-color-dark-rgb), 0.65);
  }
}

//========================================================================================================================================================

.swiper-scrollbar {
  height: 2px;
  width: calc(100% - 2px);
  background-color: rgba(var(--primary-color-rgb), 0.3) !important;
  margin: 0 auto;
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: rgba(var(--primary-color-rgb), 0.7);
  }
}

.select {
  font-family: inherit;

  & &__multi-value__remove,
  & &__clear-indicator {
    @media (any-hover: hover) {
      opacity: 0.7;
      transition: opacity 0.3s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
    svg path {
      fill: var(--accent-color);
    }
  }

  & &__control,
  &__single-value,
  &__menu-list,
  &__menu-portal &__menu-list {
    font-size: 14px;
    @include media-max($mobileSmall) {
      font-size: 13px;
    }
  }

  &__dropdown-indicator {
    svg,
    path {
      stroke-width: 0px;
    }
    svg {
      @include media-max($mobileSmall) {
        width: 16px;
        height: 16px;
      }
    }
  }

  & &__control {
    position: relative;
    min-height: 34px;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 7px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: border-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--primary-color);
      }
    }

    &--is-focused {
      border-color: var(--primary-color);
      z-index: 100;
    }

    &--menu-is-open {
    }
  }

  &__placeholder {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.6;
  }

  // & &__dropdown-indicator {
  //   transition: transform 0.3s ease 0s;
  // }

  &__control--menu-is-open &__dropdown-indicator {
    transform: rotate(180deg);
  }

  &__value-container--is-multi {
    gap: 4px;
  }

  &__menu,
  &__menu-portal &__menu {
    margin-top: 5px;
    // max-height: 300px;
    background-color: var(--bg-color);
    // border-bottom: 1px solid rgba(var(--main-color-rgb), 0.4);
    // box-shadow: 0px -3px 5px 0px rgba(var(--main-color-rgb), 0.3) inset;
    box-shadow: 0px 0px 5px 3px rgba(var(--main-color-rgb), 0.3) inset;
    border-radius: 5px;
  }

  &__menu-list,
  &__menu-portal &__menu-list {
    line-height: 1.2;
    padding: 4px 0;
  }

  & &__option,
  &__menu-portal &__option {
    // font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s ease 0s, font-weight 0.3s ease 0s;
    cursor: pointer;
    &--is-focused {
      background-color: rgba(var(--primary-color-rgb), 0.6);
    }
    &--is-selected {
      // font-weight: 500;
      background-color: var(--primary-color);
    }
  }

  &__menu-portal {
    z-index: 10 !important;
  }
}

//========================================================================================================================================================
.tab-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;

  &__trigger {
    cursor: pointer;
    flex: 1 1 1%;
    white-space: nowrap;
    padding: 5px 25px;
    border-radius: 7px;
    background-color: var(--bg-color-light);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: font-weight, color, background-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 40px;

    &[aria-selected='true'],
    &._active {
      font-weight: 600;
      background-color: var(--primary-color);
      color: var(--main-color);
    }

    &:focus {
      background-color: var(--primary-color-dark);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary-color-dark);
      }
    }

    @include media-max($mobile) {
      min-height: 36px;
      padding: 5px 20px;
    }
    @include media-max($mobileSmall) {
      min-height: 32px;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

.tab-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  @include media-max($mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-max($mobileSmall) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.tab-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  @include media-max(600px) {
    grid-template-columns: 1fr;
  }
  @include media-max($mobileSmall) {
    gap: 12px;
  }
}
