//=== Colors =====================================================================================================================================================

:root {
  --font-family-title: 'Inknut Antiqua', serif;

  --main-color: #fff;
  --main-color-rgb: 255, 255, 255;
  --bg-color: #0a0a0a;
  --bg-color-rgb: 10, 10, 10;
  // --bg-color-light: #272727;
  // --bg-color-light: #414141;
  // --bg-color-light: #3a3a3a;
  --bg-color-dark: #1c1c1c;
  --bg-color-light: #303030;

  --primary-color: #f6ae11;
  --primary-color-rgb: 246, 174, 17;
  --primary-color-light: #eec66e;
  --primary-color-dark: #f39600;
  --primary-color-dark-rgb: 243, 150, 0;
  --secondary-color: #136fe8;
  // --secondary-color-light: #076ff8;
  --secondary-color-light: #2582fa;
  --secondary-color-rgb: 19, 111, 232;
  --accent-color: #ff0004;

  --released-color: #00df7e;
  // --ongoing-color: #ffa600;
  --ongoing-color: #0099ff; //#0099ff
  --anons-color: #df0004;
  --anons-unknown: #4b4b4b;
}
