.header {
  position: relative;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 900;
  padding: 25px 0;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
  }
  @include media-max($tablet) {
    padding: 20px 0;
  }
}

.logo,
.actions {
  @include media-min($tablet) {
    max-width: 200px;
    width: 100%;
  }
}

.logo {
  img {
    width: 100%;
  }
  @include media-max($tablet) {
    max-width: 180px;
  }
  @include media-max($mobile) {
    max-width: 160px;
  }
  @include media-max($mobileSmall) {
    max-width: 140px;
  }
}

.menu {
  @include media-max($tablet) {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    z-index: 100;
    height: calc(100vh - 100%);
    transition: right 0.3s ease 0s;
    background-color: var(--bg-color);
    overflow: auto;
    padding: 25px math.div($containerPadding, 2) + px;

    .menu-open & {
      right: 0;
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 30px;
    @include media-max($tablet) {
      display: block;
    }
  }

  &__item {
    @include media-max($tablet) {
      text-align: center;
      & + & {
        margin-top: 15px;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    position: relative;

    &._active {
      color: var(--primary-color);
    }

    @media (any-hover: hover) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: var(--primary-color-dark);
      }
    }

    @include media-max($mobileSmall) {
      font-size: 18px;
    }
  }
}

//==== Actions ====================================================================================================================================================
.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px 20px;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--main-color);
  width: 32px;
  height: 32px;
  svg {
    width: 70%;
    height: 70%;
  }

  @media (any-hover: hover) {
    transition: background-color 0.3s ease 0s;
    svg path {
      transition: stroke 0.3s ease 0s;
    }

    &:hover {
      background-color: var(--primary-color);
      svg path {
        stroke: var(--main-color);
      }
    }
  }

  @include media-max($mobile) {
    width: 28px;
    height: 28px;
  }
}
.burger {
  display: none;
  @include media-max($tablet) {
    display: block;
    position: relative;
    width: 36px;
    height: 20px;
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--main-color);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
  @include media-max($mobile) {
    width: 32px;
    height: 18px;
  }
}
