.seasonal {
  &__filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    margin-bottom: 15px;
  }

  &__select {
    flex: 1 1 50%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    @include media-max(1200px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include media-max($tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-max($mobile) {
      gap: 10px;
    }
    @include media-max(700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-max($mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__loader {
    margin-top: 25px;
  }

  &__show-more-wrapper {
    margin-top: 25px;
  }

  &__show-more {
  }
}
