.broadcast-item {
  @media (any-hover: hover) {
    &:hover & {
      &__image img {
        transform: scale(1.05);
      }
    }
  }

  &__inner {
    display: flex;
    overflow: hidden;
    padding: 8px;
  }

  &__image {
    flex-shrink: 0;
    width: 106px;
    height: 100%;
    min-height: 130px;
    border-radius: 6px;
    margin-right: 15px;

    @include media-max($mobile) {
      width: 86px;
      min-height: 115px;
      margin-right: 10px;
    }
    @include media-between($mobileSmall, 650px) {
      width: 110px;
    }
    @include media-max($mobileSmall) {
      margin-right: 7px;
    }

    @media (any-hover: hover) {
      img {
        transition: transform 0.3s ease 0s;
      }
    }
  }

  &__body {
    align-self: center;
    @include media-max($mobile) {
      padding: 0 5px 2px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__list {
  }

  &__list-item {
    font-size: 13px;
    @include media-max($mobile) {
      font-size: 12px;
    }

    & + & {
      margin-top: 5px;
      @include media-max($mobile) {
        margin-top: 4px;
      }
    }
  }

  &__list-item._broadcast .info-row__name {
    color: var(--accent-color);
    opacity: 1;
  }

  &__list-name {
  }

  &__list-item .info-row__values {
    @include media-max($mobile) {
      margin-left: 10px;
    }
  }

  &__list-value {
  }
}
