.info-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;

  font-size: 14px;
  line-height: math.div(16, 12);

  &__name {
    opacity: 0.7;
  }

  &__values {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 10px;
    margin-left: 12px;
    // font-weight: 500;
  }

  &__value {
    span {
      opacity: 0.5;
    }

    &._capitalize {
      text-transform: capitalize;
    }
  }
}
